@using PatchHub.UI.Components
@page "/"

<PageTitle>PatchHub - Home</PageTitle>

<MudGrid Spacing="2" Justify="Justify.Center">
	<MudItem xs="12" md="8">
		<MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.FlexStart">
			<MudFab Size="Size.Small" StartIcon="@Icons.Material.Filled.LocalFireDepartment" Color="@(hideTopGames ? Color.Dark : Color.Error)" Label="Top" OnClick="_ => ShowContent(ContentType.TopGames)" />
			<MudFab Size="Size.Small" StartIcon="@Icons.Material.Filled.NewReleases" Color="@(hideRecent ? Color.Dark : Color.Warning)" Label="Recent" OnClick="_ => ShowContent(ContentType.Recent)" />
			<MudFab Size="Size.Small" StartIcon="@Icons.Material.Filled.Favorite" Color="@(hideFavorited ? Color.Dark : Color.Secondary)" Label="Favorited" OnClick="_ => ShowContent(ContentType.Favorited)"/>
		</MudStack>
	</MudItem>
    <MudItem xs="12" md="8">
		<div hidden="@hideTopGames">
			<MudGrid Spacing="2">
				@foreach (var popularApp in _popularApps) 
				{
					<MudItem xs="12" lg="6">
						<PopularSteamGame PopularApp="popularApp" />
					</MudItem>
				}
			</MudGrid>
		</div>
		<div hidden="@hideRecent">
			<MudContainer MaxWidth="MaxWidth.ExtraSmall" Class="justify-center">
				<MudText Typo="Typo.h1" Align="Align.Center">
					<MudIcon Icon="@Icons.Material.Filled.Construction" Color="Color.Warning" Style="font-size:inherit;" />
				</MudText>
				<MudText Typo="Typo.h4" Align="Align.Center" Class="animate__animated animate__hinge animate__delay-2s">
					Under construction...
				</MudText>
			</MudContainer>
		</div>
		<div hidden="@hideFavorited">
			<MudContainer MaxWidth="MaxWidth.ExtraSmall" Class="justify-center">
				<MudText Typo="Typo.h1" Align="Align.Center">
					<MudIcon Icon="@Icons.Material.Filled.Construction" Color="Color.Warning" Style="font-size:inherit;" />
				</MudText>
				<MudText Typo="Typo.h4" Align="Align.Center" Class="animate__animated animate__hinge animate__delay-2s">
					Under construction...
				</MudText>
			</MudContainer>
		</div>
    </MudItem>
</MudGrid>
